<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="(orderItemCount | async) > 0">
    <ion-fab-button (click)="openCart()">
      <ion-badge>
        {{orderItemCount | async}}
      </ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <img class="restaurant-img"
    [src]="restaurant.foto_portada.url"
    [alt]="restaurant.foto_portada.nombre">
  <div class="ion-padding-start ion-padding-end">
    <h1><strong>{{restaurant.nombre}}</strong></h1>

    <div class="search-menu">
      <h3>Menú</h3>
      <ion-button fill="clear" slot="icon-only">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-slides class="ion-margin-bottom" pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let c of [1, 2, 3, 4, 5, 6, 7 ,8, 9]">
        <ion-badge color="primary">Categoría {{c}}</ion-badge>
      </ion-slide>
    </ion-slides>

    <ion-list class="ion-padding-top ion-margin-bottom">
        <ion-item lines="none" *ngFor="let p of products"   [routerLink]="p.id">
          <ion-thumbnail slot="end">
            <img [src]="p.foto.url">
          </ion-thumbnail>
          <ion-label>
            <h2>{{p.nombre}}</h2>
            <p>{{p.precio | currency: 'MXN'}}</p>
          </ion-label>
        </ion-item>
    </ion-list>
  </div>
</ion-content>