<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <img class="restaurant-img" [src]="product.foto.url" [alt]="product.foto.nombre">

  <div class="ion-padding-start ion-padding-end">
    <h1><strong>{{product.nombre}}</strong></h1>
    <ion-text>
      <p>
        {{product.descripcion}}
      </p>
    </ion-text>

    <ion-text>
      <p>
        {{product.precio | currency: 'MXN'}}
      </p>
    </ion-text>

    <div class="ion-padding-bottom">
      <ion-row class="category-banner">
        <ion-col class="text-left align-self-center" tappable (click)="isExpanded = !isExpanded">
          <div class="category-name-container">
            Hot cake extra
            <ion-icon name="arrow-down-outline" *ngIf="!isExpanded"></ion-icon>
            <ion-icon name="arrow-up-outline" *ngIf="isExpanded"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-list *ngIf="isExpanded">
        <ion-radio-group>
          <ion-item lines="none">
            <ion-label>Mermelada</ion-label>
            <ion-radio slot="end" value="biff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <div class="ion-padding-bottom">
      <ion-row class="category-banner">
        <ion-col class="text-left align-self-center" tappable (click)="isExpanded2 = !isExpanded2">
          <div class="category-name-container">
            Toppings
            <ion-icon name="arrow-down-outline" *ngIf="!isExpanded2"></ion-icon>
            <ion-icon name="arrow-up-outline" *ngIf="isExpanded2"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-list *ngIf="isExpanded2">
        <ion-radio-group>
          <ion-item lines="none">
            <ion-label>Biff</ion-label>
            <ion-radio slot="end" value="biff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <div class="order-count-container">
      <ion-button shape="round" fill="clear" [disabled]="count === 1" (click)="removeOneFromOrder()">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text>
        <p>
          {{count}}
        </p>
      </ion-text>
      <ion-button shape="round" fill="clear" (click)="addOneToOrder()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-button shape="round" fill="solid" expand="full" (click)="addToOrder()">
      Agregar {{count}} - {{count * product.precio | currency: 'MXN'}}
    </ion-button>

  </div>
</ion-content>