<ion-content [fullscreen]="true">
  <ion-slides class="slides" pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <h1 style="padding-left: 3%;">
    <ion-icon name="grid-outline"></ion-icon> Categorías
  </h1>

  <ion-slides class="categorias" pager="false" [options]="slideOpts3">
    <ion-slide>
      <ion-card class="categoria-card">
        <img class="categoria-img"
          src="https://image.flaticon.com/icons/svg/701/701965.svg"
          alt="">
          <h5>Todos</h5>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="categoria-card">
        <img class="categoria-img"
          src="https://image.flaticon.com/icons/svg/811/811643.svg"
          alt="">
          <h5>Del mar</h5>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="categoria-card">
        <img class="categoria-img"
          src="https://image.flaticon.com/icons/svg/883/883806.svg"
          alt="">
          <h5>Rápida</h5>
      </ion-card>
    </ion-slide>
    

    <ion-slide>
      <ion-card class="categoria-card">
        <img class="categoria-img"
          src="https://image.flaticon.com/icons/svg/3014/3014519.svg"
          alt="">
          <h5>Vegano</h5>
      </ion-card>
    </ion-slide>
    

    <ion-slide>
      <ion-card class="categoria-card">
        <img class="categoria-img"
          src="https://image.flaticon.com/icons/svg/811/811643.svg"
          alt="">
          <h5>Del mar</h5>
      </ion-card>
    </ion-slide>
    
    
  </ion-slides>

  <h1 style="padding-left: 3%;">
    <ion-icon name="fast-food-outline"></ion-icon> Restaurantes
  </h1>

  <ion-slides class="restaurant-card ion-margin-bottom" pager="false" scrollbar="true" [options]="slideOpts1">

    <ion-slide *ngFor="let r of restaurants" [routerLink]="r.id">
      <ion-card>
        <img class="restaurant-img"
          [src]="r.foto_portada?.url"
          [alt]="r.foto_portada?.nombre">
        <ion-card-content>
          <ion-card-title><strong>{{r.nombre}}</strong></ion-card-title>
          <ion-card-subtitle class="restaurant-desc">{{r.descripcion}}</ion-card-subtitle>
          <div class="restaurant-rating">
            <p>&#9733; {{r.rating}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>