.slides {
    height: 30%;
}
.categorias{
    height: 15%;
}

.categoria-card{
    height: 100%;
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categoria-img{
    width: 30px;
}

.restaurant-card{
    height: 50%;
    padding: 5% 2%;
}
.restaurant-img{
    width: 375px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}
.restaurant-desc{
    max-width: 80%;
}

.swiper-slide{
    text-align: left;
}

ion-card-content{
    position: relative;
}

.restaurant-rating{
    position: absolute;
    right: 5%;
    top: 40%;
}

ion-card {
    border-radius: 20px;
    border: none !important;
    box-shadow: none;
  }